/* form */
.login-form {
  margin: auto;
  padding: 25px;
  border: 1px solid antiquewhite;
  width: 400px;
  background-color: antiquewhite;
}

/* the error text in signup */
.text-danger {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 10px;
}

.form-div {
  margin-top: 20px;
}

nav {
  padding: 25px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9;
}

.footer a {
  text-decoration: none;
}

.login {
  margin: 150px auto;
}

.signup {
  margin: 70px auto;
}

.login,
.signup {
  width: 480px;
  background-color: rgba(112, 186, 187, 0.1);
  border: 1px solid rgb(220, 213, 204);
  padding: 30px;
}

.logout-item {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(60, 60, 58, 0.2);
}

/* .logout-item:hover {
  border: 1px solid rgba(60, 60, 58, 0.2);
  background-color: rgb(57, 56, 56, 0.2);
} */

.todo-container {
  margin: 100px auto;
  width: 480px;
  background-color: rgba(112, 186, 187, 0.1);
  border: 1px solid rgb(220, 213, 204);
  padding: 30px;
}

.todo-header {
  margin-bottom: 1px solid rgb(157, 157, 157, 0.2);
}

.todo-add {
  height: 40px;
}

.todo {
  margin: 20px 30px;
  padding: 0px 20px;
}

.todo-element {
}
/* to hide the arrows in phone number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
